Windows_Cliente/Connected Services/ProxyRestaurantes/ServiciosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestauranteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestauranteBE" nillable="true" type="tns:RestauranteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestauranteBE" nillable="true" type="tns:ArrayOfRestauranteBE" />
  <xs:complexType name="RestauranteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cate_Restaurante" type="xs:short" />
      <xs:element minOccurs="0" name="Direc_Restaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distri_Restaurante" type="xs:short" />
      <xs:element minOccurs="0" name="Estado_Restaurante" type="xs:short" />
      <xs:element minOccurs="0" name="FecRegistro_Restaurante" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecUltModi_Restaurante" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Restaurante" type="xs:short" />
      <xs:element minOccurs="0" name="Nom_CategoriaRestaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_DistritoRestaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_EstadoRestaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Restaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tele_Restaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuRegistro_Restaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuUltModi_Restaurante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestauranteBE" nillable="true" type="tns:RestauranteBE" />
</xs:schema>