Web_Cliente/Connected Services/ProxyResena/ServicioResenas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioResenas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioResenas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioResenas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioResenas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioResenas_GetAllReseñas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñas" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetAllReseñas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetAllReseñasRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñasRestaurante" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetAllReseñasRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñasRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetAllReseñasUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñasUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetAllReseñasUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReseñasUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetReseña_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReseña" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_GetReseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_UpdateReseña_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReseña" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_UpdateReseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_InsertReseña_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertReseña" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_InsertReseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertReseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_DeleteReseña_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReseña" />
  </wsdl:message>
  <wsdl:message name="IServicioResenas_DeleteReseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReseñaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioResenas">
    <wsdl:operation name="GetAllReseñas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñas" message="tns:IServicioResenas_GetAllReseñas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñasResponse" message="tns:IServicioResenas_GetAllReseñas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReseñasRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñasRestaurante" message="tns:IServicioResenas_GetAllReseñasRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñasRestauranteResponse" message="tns:IServicioResenas_GetAllReseñasRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReseñasUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñasUsuario" message="tns:IServicioResenas_GetAllReseñasUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/GetAllReseñasUsuarioResponse" message="tns:IServicioResenas_GetAllReseñasUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/GetReseña" message="tns:IServicioResenas_GetReseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/GetReseñaResponse" message="tns:IServicioResenas_GetReseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/UpdateReseña" message="tns:IServicioResenas_UpdateReseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/UpdateReseñaResponse" message="tns:IServicioResenas_UpdateReseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertReseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/InsertReseña" message="tns:IServicioResenas_InsertReseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/InsertReseñaResponse" message="tns:IServicioResenas_InsertReseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioResenas/DeleteReseña" message="tns:IServicioResenas_DeleteReseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioResenas/DeleteReseñaResponse" message="tns:IServicioResenas_DeleteReseña_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioResenas" type="tns:IServicioResenas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllReseñas">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/GetAllReseñas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReseñasRestaurante">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/GetAllReseñasRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReseñasUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/GetAllReseñasUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReseña">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/GetReseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReseña">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/UpdateReseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReseña">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/InsertReseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReseña">
      <soap:operation soapAction="http://tempuri.org/IServicioResenas/DeleteReseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioResenas">
    <wsdl:port name="BasicHttpBinding_IServicioResenas" binding="tns:BasicHttpBinding_IServicioResenas">
      <soap:address location="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioResenas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>