MVC_Cliente/Connected Services/ProxyReseñas/ServiciosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReseñaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReseñaBE" nillable="true" type="tns:ReseñaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReseñaBE" nillable="true" type="tns:ArrayOfReseñaBE" />
  <xs:complexType name="ReseñaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido_Reseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_RegistroReseña" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Reseña" type="xs:short" />
      <xs:element minOccurs="0" name="Id_Restaurante" type="xs:short" />
      <xs:element minOccurs="0" name="Id_Usuario" type="xs:short" />
      <xs:element minOccurs="0" name="Nom_Restaurante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo_Reseña" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReseñaBE" nillable="true" type="tns:ReseñaBE" />
</xs:schema>