Windows_Cliente/Connected Services/ProxyReservas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
  <xs:element name="GetAllReservasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsua" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllReservasClienteResult" nillable="true" type="q1:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasPorDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasPorDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllReservasPorDiaResult" nillable="true" type="q2:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasPorDiaRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idResta" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasPorDiaRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllReservasPorDiaRestauranteResult" nillable="true" type="q3:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="objReservaBE" nillable="true" type="q4:ReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsua" type="xs:short" />
        <xs:element minOccurs="0" name="idReser" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idResta" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservasRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllReservasRestauranteResult" nillable="true" type="q5:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstadoReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsua" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstadoReservaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>