MVC_Cliente/Connected Services/ProxyRestaurante/ServicioRestaurantes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioRestaurantes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantes" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesActivo" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurante" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_InsertRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRestaurante" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_InsertRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_UpdateRestaurante_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestaurante" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_UpdateRestaurante_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorDistrito_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorDistrito" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorDistrito_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorDistritoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorCategoriaDistrito_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorCategoriaDistrito" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllRestaurantesPorCategoriaDistrito_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantesPorCategoriaDistritoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllDistritos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistritos" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllDistritos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistritosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategorias" />
  </wsdl:message>
  <wsdl:message name="IServicioRestaurantes_GetAllCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioRestaurantes">
    <wsdl:operation name="GetAllRestaurantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantes" message="tns:IServicioRestaurantes_GetAllRestaurantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesResponse" message="tns:IServicioRestaurantes_GetAllRestaurantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesActivo" message="tns:IServicioRestaurantes_GetAllRestaurantesActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesActivoResponse" message="tns:IServicioRestaurantes_GetAllRestaurantesActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetRestaurante" message="tns:IServicioRestaurantes_GetRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetRestauranteResponse" message="tns:IServicioRestaurantes_GetRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/InsertRestaurante" message="tns:IServicioRestaurantes_InsertRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/InsertRestauranteResponse" message="tns:IServicioRestaurantes_InsertRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurante">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/UpdateRestaurante" message="tns:IServicioRestaurantes_UpdateRestaurante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/UpdateRestauranteResponse" message="tns:IServicioRestaurantes_UpdateRestaurante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorDistrito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorDistrito" message="tns:IServicioRestaurantes_GetAllRestaurantesPorDistrito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorDistritoResponse" message="tns:IServicioRestaurantes_GetAllRestaurantesPorDistrito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoria" message="tns:IServicioRestaurantes_GetAllRestaurantesPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoriaResponse" message="tns:IServicioRestaurantes_GetAllRestaurantesPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorCategoriaDistrito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoriaDistrito" message="tns:IServicioRestaurantes_GetAllRestaurantesPorCategoriaDistrito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoriaDistritoResponse" message="tns:IServicioRestaurantes_GetAllRestaurantesPorCategoriaDistrito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDistritos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllDistritos" message="tns:IServicioRestaurantes_GetAllDistritos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllDistritosResponse" message="tns:IServicioRestaurantes_GetAllDistritos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllCategorias" message="tns:IServicioRestaurantes_GetAllCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRestaurantes/GetAllCategoriasResponse" message="tns:IServicioRestaurantes_GetAllCategorias_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioRestaurantes" type="tns:IServicioRestaurantes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRestaurantes">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesActivo">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurante">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRestaurante">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/InsertRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurante">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/UpdateRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorDistrito">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorDistrito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurantesPorCategoriaDistrito">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllRestaurantesPorCategoriaDistrito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDistritos">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllDistritos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategorias">
      <soap:operation soapAction="http://tempuri.org/IServicioRestaurantes/GetAllCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRestaurantes">
    <wsdl:port name="BasicHttpBinding_IServicioRestaurantes" binding="tns:BasicHttpBinding_IServicioRestaurantes">
      <soap:address location="http://desktop-dgauu9u/WCF_Reservas/ServiciosWCF.ServicioRestaurantes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>