Web_Cliente/Connected Services/ProxyRestaurantes/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" />
  <xs:element name="GetAllRestaurantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllRestaurantesResult" nillable="true" type="q1:ArrayOfRestauranteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantesActivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRestaurantesActivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetAllRestaurantesActivoResult" nillable="true" type="q2:ArrayOfRestauranteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idResta" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="GetRestauranteResult" nillable="true" type="q3:RestauranteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="objRestauranteBE" nillable="true" type="q4:RestauranteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRestauranteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosWCF" minOccurs="0" name="objRestauranteBE" nillable="true" type="q5:RestauranteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRestauranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRestauranteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>